@font-face {
  font-family: basier;
  src: url(../assets/fonts/basiercircle-regular.otf);
}
@font-face {
  font-family: basier-bold;
  src: url(../assets/fonts/BasierCircle-Bold.ttf);
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}

/** COLORS **/
/* 
Green : #00B34B; 
Hard Grey: #1E1F1A ;
little grey: #A6A6A6;
blue: #69AFEA;
*/
body{
	min-height: 100vh;
	overflow-x: hidden;
	font-family: basier;
	overflow-y: auto;
}
.corpus{
	display: block;
	position: relative;
	width: calc(100% - 23vh);
	margin: auto;
}
#gotoedit{
	display: flex;
	position: absolute;
	top: 0;
	right: 3rem;
	height: 24px;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	order: 0;
	border: 1px transparent;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,left top,right top,from(#4066B4),to(#835F95));
	background-image: linear-gradient(290deg,#4066B4,#835F95);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
#gotoedit:hover{
	box-shadow: 0 6px 12px -2px rgba(99,172,234,.6);
	-webkit-transform: translate(0,-3px);
	-ms-transform: translate(0,-3px);
	transform: translate(0,-3px);
}
.containerbtneditor{
	display: none;
	position: absolute;
	width: 20rem;
	top: 2rem;
	right: 3rem;
	align-items: center;
}
#gotodiscard{
	display: block;
	position: relative;
	color: #A6A6A6;
	cursor: pointer;
	margin-right: 3rem;
}
#savetopeditor{
	display: block;
	position: relative;
	padding: 8px 24px;
	justify-content: center;
	align-items: center;
	order: 0;
	border: 1px transparent;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,left top,right top,from(#4066B4),to(#835F95));
	background-image: linear-gradient(290deg,#4066B4,#835F95);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
#savetopeditor:hover{
	box-shadow: 0 6px 12px -2px rgba(99,172,234,.6);
	-webkit-transform: translate(0,-3px);
	-ms-transform: translate(0,-3px);
	transform: translate(0,-3px);
}
.bg_tochange{
	display: block;
	position: relative;
	padding: 4rem;
}
.flexer-top{
	display: flex;
	position: relative;
	align-items: top;
}
.bloc_logo{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 14rem;
	height: 9rem;
	background-color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	margin-left: 5rem;
}
.bloc_logo p{
	display: none;
	color: #FFFFFF;
	cursor: pointer;
}
.bloc_logo:hover p{
	display: flex;
	position: absolute;
	top:0;
	left:0;
	width: 14rem;
	height: 9rem;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background-color: rgba(166,166,166,.8);
	z-index: 5;
}
#imgprofil_container{
	display: none;
}
.ppicture{
	display: block;
	position: relative;
	width: 14rem;
	height: 9rem;
	border-radius: 8px;
}
.modal-content{
	display: none;
	position: absolute;
	width: 50rem;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	border-radius: 8px;
	z-index: 100;
}
.modal-header{
	display: flex;
	position: relative;
	justify-content: space-between;
	font-family: basier;
}
.modal-title{
	display: block;
	position: relative;
	width: 80%;
	padding: 0.5rem 1rem;
	font-size: 2rem;
}
.close{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: #A6A6A6;
	width: 4rem;
	font-size: 2rem;
	cursor: pointer;
}
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
.modal-footer{
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 0rem;
}
.btn-secondary{
	display: flex;
	position: relative;
	padding: 8px 24px;
	justify-content: center;
	align-items: center;
	order: 0;
	border: 1px transparent;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,left top,right top,from(#CCCCCC),to(#CCCCCC));
	background-image: linear-gradient(290deg,#CCCCCC,#CCCCCC);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.btn-secondary:hover{
	box-shadow: 0 6px 12px -2px rgba(99,172,234,.6);
	-webkit-transform: translate(0,-3px);
	-ms-transform: translate(0,-3px);
	transform: translate(0,-3px);
}
.btn-primary{
	display: flex;
	position: relative;
	padding: 8px 24px;
	justify-content: center;
	align-items: center;
	order: 0;
	border: 1px transparent;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,left top,right top,from(#4066B4),to(#835F95));
	background-image: linear-gradient(290deg,#4066B4,#835F95);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin-left: 2rem;
	margin-right: 2rem;
}
.btn-primary:hover{
	box-shadow: 0 6px 12px -2px rgba(99,172,234,.6);
	-webkit-transform: translate(0,-3px);
	-ms-transform: translate(0,-3px);
	transform: translate(0,-3px);
}
.text-top-container{
	display: block;
	position: relative;
	min-width: 30rem;
}
.text-top-container h1, .text-top-editor h1{
	display: block;
	position: relative;
	margin-left: 2rem;
	margin-bottom: 0.5rem;
	font-family: basier-bold;
	font-size: 2rem;
}
.location{
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 2rem;
	color: #A6A6A6;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	font-family: helvetica;
}
.secteur{
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 2rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-size: 1.1rem;
}
.imgtype{
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;
	align-self: center;
}
#typeof{
	display: block;
	position: relative;
	font-size: 1.1rem;
	padding: 0.6rem 1rem;
	border-radius: 4px;
	width: 20rem;
	margin-right: 9rem;
	border: 1px #FFFFFF solid;
	background: #FFFFFF;
	margin-top: 1rem;
	margin-left: 1rem;
	color: #A6A6A6;
	cursor: pointer;
}
.choice-typeof{
	display: none;
	position: absolute;
	height: 35rem;
	top: 10rem;
	left: 8.5rem;
	overflow-y: auto;
	background-color: #FFFFFF;
	width: 100%;
	border: 1px rgba(230,230,230,0.6) solid;
	z-index: 10;
}
.choice-typeof li{
	padding: 0.4rem 1rem;
	color: #A6A6A6;
	cursor: pointer;
}
.choice-typeof li:hover{
	color: #000000;
}
.keywords{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	margin-left: 2rem;
	margin-bottom: 0.5rem;
	font-size: 0.9rem;
	color: #1E1F1A;
}
.keywords .oneinterest{
	display: block;
	margin-left: 0.5rem;
}
.flexerinteresteditor{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 40rem;
}
.oneinterest{
	display: block;
	padding: 0.5rem 1rem;
	background-color: #FFFFFF;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	margin-top: 0.5rem;
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.9rem;
	max-width: 10rem;
	text-align: center;
}
.text-top-editor{
	display: none;
	position: relative;
	min-width: 40rem;
	padding-bottom: 3rem;
}
.blc-input{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blc-inputntflex{
	display: block;
}
.text-top-editor label, .contact-editor label, .reseau-editor label{
	display: block;
	position: relative;
	margin-top: 1rem;
	margin-left: 1rem;
}
.text-top-editor input, .contact-editor input, .reseau-editor input{
	display: block;
	position: relative;
	font-size: 1.1rem;
	padding: 0.6rem 1rem;
	border-radius: 4px;
	width: 20rem;
	margin-right: 9rem;
	border: 1px #FFFFFF solid;
	background: #FFFFFF;
	margin-top: 1rem;
	margin-left: 1rem;
}
.text-top-editor input:focus, .contact-editor input:focus, .reseau-editor input:focus{
	background: rgba(255,255,255,0.6);
}


.description-container, .contact-container, .reseau-container{
	display: block;
	position: relative;
	padding: 1rem;
	margin-left: 4rem;
	margin-top: 1rem;
	min-height: 5rem;
}
.description-content{
	display: block;
	position: relative;
	margin-top: 1.5rem;
	margin-left: 2rem;
	line-height: 1.1rem;
	white-space: pre-wrap;
}
.description-text-editor{
	display: none;
	position: relative;
	padding: 1rem;
}
#description{
	display: block;
	position: relative;
	white-space: pre-wrap;
	background-color: #FFFFFF;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	width: 60rem;
	min-height: 10rem;
	border-radius: 4px;
	margin-top: 1rem;
	margin-left: 3rem;
}
[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
}

[placeholder]:empty:focus::before {
    content: "";
}
.contact-flex{
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
	padding: 4rem 2rem;
}
.contact-editor{
	display: none;
	position: relative;
	padding: 1rem;
	width: 40rem;
}
.reseau-flex{
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
	padding: 4rem 2rem;
}
.reseau-flex img{
	display: block;
	position: relative;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}
.reseau-editor{
	display: none;
	position: relative;
	padding: 1rem;
	width: 40rem;
}
.bloc_title-container{
	display: block;
	position: relative;
	max-width: 30rem;
}
.bloc_icon_change{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	right: 3rem;
	top: 0rem;
	cursor: pointer;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	z-index: 5;
}
.toping{
	top: 1rem;
}
.bloc_icon_change:hover{
	background-color: #FFFFFF;
}
.bloc_icon_change:hover svg {
  	fill: #00B34B;
}

h3{
	display: block;
	position: relative;
	font-size: 1.5rem;
	font-family: basier-bold;
}
.darkness{
	display: none;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100vh;
	z-index: 9;
	background-color: rgba(0,0,0,.7);
}
@media screen and (max-width: 1000px){
	.corpus{
		width: 100%;
	}
	#gotoedit{
		right: 1rem;
	}
	.containerbtneditor{
		display: none;
		position: absolute;
		width: 100%;
		top: 0rem;
		right: 0.5rem;
		align-items: center;
		justify-content: flex-end;
	}
	.bg_tochange{
		display: block;
		position: relative;
		padding: 0.5rem;
	}
	.flexer-top{
		display: block;
	}
	.bloc_logo{
		margin: auto;
		margin-top: 3rem;
	}
	.modal-content{
		display: none;
		position: absolute;
		width: 98%;
		top: 2rem;
	  	left: 50%;
	  	transform: translate(-50%, 0%);
		background-color: #FFFFFF;
		border-radius: 8px;
		max-height: 80vh;
		z-index: 100;
	}
	.text-top-container{
		display: block;
		position: relative;
		min-width: 5rem;
		width: 98%;
		text-align: center;
		margin: auto;
	}
	.text-top-container h1, .text-top-editor h1{
		display: block;
		position: relative;
		margin-left: 0rem;
		margin: 0.5rem 0rem;
	}
	.location{
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		margin-left: 0rem;
	}
	.secteur{
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		margin-left: 0rem;
	}
	.keywords{
		margin-left: 0rem;
	}
	.description-container, .contact-container, .reseau-container{
		margin-left: 0rem;
	}
	.contact-flex{
		display: block;
		position: relative;
		padding: 1rem;
	}
	.text-top-editor{
		display: none;
		position: relative;
		min-width: 10rem;
		width: 100%
		padding-bottom: 5rem;
	}
	.blc-input{
		display: block;
		position: relative;
	}
	#typeof{
		display: block;
		position: relative;
		font-size: 1.1rem;
		padding: 0.6rem 1rem;
		border-radius: 4px;
		width: calc(96% - 2rem);
		margin-right: 0rem;
		border: 1px #FFFFFF solid;
		background: #FFFFFF;
		margin-top: 0rem;
		margin-left: 0rem;
		margin: auto;
		color: #A6A6A6;
		cursor: pointer;
	}
	.text-top-editor label, .contact-editor label, .reseau-editor label{
		display: block;
		position: relative;
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 1rem;
	}
	.text-top-editor input, .contact-editor input, .reseau-editor input{
		display: block;
		position: relative;
		font-size: 1.1rem;
		padding: 0.6rem 1rem;
		border-radius: 4px;
		width: calc(96% - 2rem);
		margin-right: 0rem;
		border: 1px #FFFFFF solid;
		background: #FFFFFF;
		margin-top: 1rem;
		margin-left: 0rem;
		margin: auto;
	}
	.flexerinteresteditor{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.oneinterest{
		display: block;
		padding: 0.5rem 1rem;
		background-color: #FFFFFF;
		box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
		margin-top: 0.5rem;
		border-radius: 4px;
		cursor: pointer;
		font-size: 1.1rem;
		max-width: 13rem;
		text-align: center;
	}
	.description-text-editor{
		padding-bottom: 3rem;
	}
	#description{
		display: block;
		position: relative;
		white-space: pre-wrap;
		background-color: #FFFFFF;
		box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
		padding: 0.5rem 1rem;
		font-size: 1rem;
		width: calc(98% - 2rem);
		min-height: 10rem;
		border-radius: 4px;
		margin-top: 1rem;
		margin-left: 0rem;
	}
	.contact-editor{
		width: calc(100% - 2rem);
		padding-bottom: 3rem;
	}
	.reseau-editor{
		width: calc(100% - 2rem);
		padding-bottom: 3rem;
	}
}