@font-face {
  font-family: basier;
  src: url(../assets/fonts/basiercircle-regular.otf);
}
@font-face {
  font-family: basier-bold;
  src: url(../assets/fonts/BasierCircle-Bold.ttf);
}
*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}

/** COLORS **/
/* 
Green : #00B34B; 
Hard Grey: #1E1F1A ;
little grey: #A6A6A6;
blue: #69AFEA;
*/
body{
	overflow-y: auto;
}
section{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	font-family: basier;
	min-height: 80vh;
}
.corpus{
	display: flex;
	position: relative;
	width: calc(100% - 4rem);
	align-items: top;
	margin: auto;
	padding: 2rem;
	padding-bottom: 3rem;
}
.searchnav-container{
	display: block;
	position: relative;
	padding-right: 2rem;
	width: 30rem;
}
.favorites-container h2{
	display: block;
	position: relative;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-family: helvetica;
	font-weight: 600;
}
.flexer-favorites{
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.orderp{
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 2rem 1rem;
	color: #69AFEA;
}
.onefav{
	display: block;
	position: relative;
	width: 48%;
	height: 8rem;
	margin-top: 1rem;
	border-radius: 8px;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	cursor: pointer;
}
.onefav img{
	display: block;
	position: absolute;
	width: 100%;
	height: 8rem;
	z-index: 1;
	top:0;
	left:0;
	border-radius: 8px;
}
.onefav .darker{
	display: none;
	position: absolute;
	width: calc(100% - 2rem);
	height: 6rem;
	padding: 1rem;
	background-color: rgba(0,0,0,.7);
	color: #FFFFFF;
	overflow: hidden;
	z-index: 3;
	top:0;
	left:0;
	border-radius: 8px;
}
.onefav:hover .darker{
	display: block;
}
.onefav p{
	font-size: 0.9rem;
	color: rgb(244, 205, 78);
	margin-top: 1rem;
}
.browse-container h2{
	display: block;
	position: relative;
	margin-bottom: 1rem;
	font-size: 1rem;
	font-family: helvetica;
	font-weight: 600;
}
.flexer-browse{
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.category-container{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: calc(30% - 2rem);
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 4px;
	height: 4rem;
	background-color: #00B34B;
	color: #ffffff;
	font-size: 1rem;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	align-self: center;
	cursor: pointer;
}
.category-container span{
	display: none;
}
.category-container img{
	display: block;
	position: relative;
	margin-top: 0.3rem;
	height: 3rem;
}
.centersearch-container{
	display: block;
	position: relative;
	width: calc(100% - 22rem);
}
.search-container{
	display: block;
	position: relative;
	padding: 1rem;
	background-color: #E5E5E5;
}
.search-container h2{
	font-size: 2rem;
	font-family: basier-bold
}
.flexer-input-container{
	display: flex;
	position: relative;
	align-items: center;
}
.flexer-input{
	display: flex;
	position: relative;
	align-items: center;
	width: 30rem;
	background: #FFFFFF;
	padding: 0.3rem 1rem;
	border-radius: 5px;
}
.flexer-input input{
	display: block;
	position: relative;
	font-size: 1.2rem;
	padding: 0.2rem 0.5rem;
	background: transparent;
	border: none;
	outline: none;
	width: 27rem;
}
.flexer-input img{
	display: block;
	position: relative;
	width: 1.5rem;
}
.filters{
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}
.ffcontainer{
	display: none;
}
.filters-container{
	display: flex;
	position: relative;
	align-items: top;
	width: calc(100% - 2rem);
	border-radius: 4px;
	padding: 1rem;
	padding-bottom: 3rem;
}
.left-filter-blc{
	display: block;
	position: relative;
	width: 35%;
}
.typeblc, .priceblc, .timeblc{
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
.filtertitle{
	display: block;
	position: relative;
	width: 5rem;
	font-size: 0.9rem;
}
.lcarac{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0.5rem 0rem;
	width: calc(100% - 5.5rem);
}
.l1carac{
	color: #E0C94B;
}
.l2carac{
	color: #E6573B;
}
.l3carac{
	color: #7A61ED;
}
.lcarac2{
	color: #00B34B;
}
.divcarac{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 7rem;
	height: 4rem;
	background-color: #FFFFFF;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.8rem;
	margin-left: 0.5rem;
}
.divcarac2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 8rem;
	height: 4.7rem;
	background-color: #FFFFFF;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.8rem;
	margin-top: 0.5rem;
}
.divcarac:hover, .divcarac2:hover{
	-webkit-transform: translate(0,-3px);
	-ms-transform: translate(0,-3px);
	transform: translate(0,-3px);
}
.divcarac img{
	display: block;
	position: relative;
	height: 1.5rem;
	margin-top: 0.3rem;
	align-self: center;
}
.divcarac2 img{
	display: block;
	position: relative;
	height: 2rem;
	margin-top: 0.3rem;
	align-self: center;
}
.l1carac div:hover{
	box-shadow: 0 6px 12px -2px rgba(221,201,97,.6);
}
.l2carac div:hover{
	box-shadow: 0 6px 12px -2px rgba(214,96,69,.6);
}
.l3carac div:hover{
	box-shadow: 0 6px 12px -2px rgba(122,97,237,.6);
}
.middle-filter-blc{
	display: block;
	position: relative;
	width: 25rem;
	padding: 0rem 1rem;
}
.dateblc{
	display: flex;
	position: relative;
	align-items: top;
	margin: 1rem 0rem;
}
.filtertitle2{
	display: block;
	position: relative;
	width: 5rem;
}
.inputblc{
	display: block;
	position: relative;
	font-size: 1rem;
	border-radius: 5px;
	width: 15rem;
	padding: 0.6rem 1rem;
	border: none;
	background: #FFFFFF;
	margin-bottom: 1rem;
}
.inputblc input{
	display: block;
	position: relative;
	font-size: 1rem;
	border-radius: 5px;
	background: transparent;
	outline: none;
	border: none;
	width: 100%;
}
.inputblc img{
	display: block;
	position: absolute;
	height: 1rem;
	width: 1rem;
	padding: 0.6rem;
	right: 0rem;
	top: 0rem;
}
.flexcards{
	display: flex;
	position: relative;
	align-items: center;
	margin-top: 1rem;
}
.card-effort{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 4rem;
	height: 7rem;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	border-radius: 4px;
	cursor: pointer;
	background-color: #FFFFFF;
	margin-right: 1rem;
}
.card-effort:hover{
	box-shadow: 0 6px 12px -2px rgba(0,179,75,.6);
	-webkit-transform: translate(0,-3px);
	-ms-transform: translate(0,-3px);
	transform: translate(0,-3px);
}
.card-effort img{
	display: block;
	position: relative;
	width: 80%;
	margin-bottom: 2rem;
}
.roundeff{
	display: block;
	position: relative;
	width: 1rem;
	height: 1rem;
	background-color: #DDDDDD;
	border-radius: 50%;
}
.right-filter-blc{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 21rem;
}
.righttitle{
	display: block;
	position: relative;
	width: 100%;
}
.lcarac2{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem 0rem;
	width: 100%;
}
.lcarac2 .divcarac{
	margin-bottom: 1rem;
}
.flexer-btnfilter{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-top: .7rem;
	left: 0;
}
#applyfilter{
	display: flex;
	height: 36px;
	padding: 5px 0px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	border: 1px transparent;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,left top,right top,from(#69AFEA),to(#63ACEA));
	background-image: linear-gradient(90deg,#69AFEA,#63ACEA);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	width: 6rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	align-self: center;
	margin-right: 2rem;
}
#applyfilter:hover{
	box-shadow: 0 6px 12px -2px rgba(99,172,234,.6);
	-webkit-transform: translate(0,-2px);
	-ms-transform: translate(0,-2px);
	transform: translate(0,-2px);
}
#delfilter{
	display: flex;
	height: 36px;
	padding: 5px 0px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	border: 1px transparent;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,left top,right top,from(#CECECE),to(#CECECE));
	background-image: linear-gradient(90deg,#CECECE,#CECECE);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	font-weight: 500;
	width: 6rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	align-self: center;
	margin-right: 3rem;
}
#delfilter:hover{
	box-shadow: 0 6px 12px -2px rgba(99,172,234,.6);
	-webkit-transform: translate(0,-2px);
	-ms-transform: translate(0,-2px);
	transform: translate(0,-2px);
}
.onlinebtn{
	display: block;
	position: relative;
	margin: 0rem 1rem;
	margin-left: 2rem;
	background: #FFFFFF;
	color: rgb(101,61,177);
	padding: .5rem 1rem;
	border-radius: 8px;
	box-shadow: 0 6px 12px -2px rgba(100,100,100,.2);
	cursor: pointer;
	transition: all .4s ease;
}
.activeshortcut1{
	display: block;
	position: relative;
	margin: 0rem 1rem;
	margin-left: 2rem;
	background: rgb(101,61,177);
	color: #FFFFFF;
	padding: .5rem 1rem;
	border-radius: 8px;
	box-shadow: 0 6px 12px -2px rgba(100,100,100,.6);
	cursor: pointer;
}
.closerbtn{
	display: block;
	position: relative;
	margin: 0rem 1rem;
	background: #FFFFFF;
	color: rgb(211,95,68);
	padding: .5rem 1rem;
	border-radius: 8px;
	box-shadow: 0 6px 12px -2px rgba(100,100,100,.2);
	cursor: pointer;
}
.activeshortcut2{
	display: block;
	position: relative;
	margin: 0rem 1rem;
	margin-left: 2rem;
	background: rgb(211,95,68);
	color: #FFFFFF;
	padding: .5rem 1rem;
	border-radius: 8px;
	box-shadow: 0 6px 12px -2px rgba(100,100,100,.6);
	cursor: pointer;
}
.flexer-results{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	margin-top: 1rem;
	min-height: 15rem;
}
.titleresultcatego{
	display: block;
	position: relative;
	width: 100%;
	padding: 0.5rem 0rem;
	font-size: 1rem;
	font-family: helvetica;
	font-weight: 600;
}
.subtitleresultcatego{
	display: block;
	position: relative;
	width: 100%;
	padding: 0.5rem 0rem;
	font-size: 0.9rem;
	color: #A6A6A6;
	height: 1.2rem;
}
.bcresult{
	display: block;
	position: relative;
	padding: 1rem;
	margin-top: 1rem;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
	border-radius: 8px;
	min-height: 10rem;
	background-color: #FFFFFF;
	width: 45%;
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	cursor: pointer;
}
.bcresult:hover{
	-webkit-transform: translate(0px,-5px);
	-ms-transform: translate(0px,-5px);
	transform: translate(0px,-5px);
}
.flexer-fline-results{
	display: flex;
	align-items: center;
}
.logoresult{
	display: block;
	position: relative;
	margin-right: 0.5rem;
	width: 10rem;
	height: 6rem;
	border-radius: 8px;
	align-self: center;
}
.flexer-fline-results h3{
	display: block;
	position: relative;
	font-family: basier-bold;
	color: #000000;
	font-size: 1.2rem;
}
.flexerdateresult{
	display: flex;
	justify-content: space-between;
	align-items: top;
	padding: 1rem 0rem;
}
.datecontainer{
	display: flex;
	position: relative;
	align-self: top;
	align-items: center;
	padding: 0.4rem .5rem;
	width: calc(55% - 1rem);
	border: 1px #A6A6A6 solid;
	background-color: #FFFFFF;
	border-radius: 8px;
}
.hourcontainer{
	display: flex;
	position: relative;
	align-self: top;
	align-items: center;
	padding: 0.4rem .5rem;
	width: calc(45% - 1.5rem);
	border: 1px #A6A6A6 solid;
	background-color: #FFFFFF;
	border-radius: 8px;
}
.locationcontainer{
	display: inline-flex;
	flex-basis: auto;
	position: relative;
	align-items: flex-start;
	padding: 0.4rem .5rem;
	min-width: 60%;
	border: 1px #A6A6A6 solid;
	background-color: #FFFFFF;
	border-radius: 8px;
	margin-bottom: 1rem;
}
.icon-container{
	height: .9rem;
	align-self: flex-start;
}
.icon-container img{
	height: .9rem;
}
.bchour, .bcdate, .bclocation{
	display: block;
	position: relative;
	color: #A9A9A9;
	align-self: flex-start;
	text-decoration: none;
	margin-left: 1rem;
	font-size: .9rem;
}
.flexer-carac{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: flex-end;
	right: 1rem;
	bottom: 0rem;
}
.flexer-carac div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
}
.flexer-carac img{
	display: block;
	position: relative;
	height: 1.5rem;
	text-align: center;
}
.flexer-carac p{
	color: #FFFFFF;
	text-align: center;
	margin-top: 0.4rem;
	font-size: 0.8rem;
}
.seemore-container{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 1rem;
	margin: 0.5rem;
	height: 8rem;
	width: 45%;
	color: #69AFEA;
	border-radius: 8px;
	cursor: pointer;
}
.flexer-corpus{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	margin-top: 4rem;
}
@media screen and (max-width: 1000px){
	.corpus{
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		width: calc(100% - 4rem);
		align-items: top;
		margin: auto;
		padding: 1rem;
		padding-bottom: 3rem;
	}
	.searchnav-container{
		display: block;
		position: relative;
		margin: auto;
		width: 96%;
		padding-right: 0rem;
	}
	.onefav{
		display: block;
		position: relative;
		width: 20rem;
		height: 10rem;
		margin-top: 1rem;
		border-radius: 8px;
		box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
		cursor: pointer;
	}
	.onefav img{
		height: 10rem;
	}
	.onefav .darker{
		height: 8rem;
	}
	.centersearch-container{
		display: block;
		position: relative;
		width: 98%;
		margin: auto;
	}
	.flexer-input{
		display: flex;
		position: relative;
		align-items: center;
		width: 75%;
		background: #FFFFFF;
		padding: 0.3rem 1rem;
		border-radius: 5px;
	}
	.flexer-input input{
		display: block;
		position: relative;
		font-size: 1rem;
		padding: 0.2rem 0.5rem;
		background: transparent;
		border: none;
		outline: none;
		width: calc(100% - 2rem);
	}
	.flexer-input img{
		display: block;
		position: relative;
		width: 1rem;
	}
	.filters-container{
		display: block;
		position: relative;
		width: calc(100% - 1rem);
		border-radius: 4px;
		padding: 0.5rem;
		padding-bottom: 3rem;
	}
	.left-filter-blc{
		display: block;
		position: relative;
		width: 100%;
	}
	.inputblc{
		display: block;
		position: relative;
		font-size: 1rem;
		border-radius: 5px;
		width: 10rem;
		padding: 0.6rem 1rem;
		border: none;
		background: #FFFFFF;
		margin-bottom: 1rem;
	}
	.middle-filter-blc{
		display: block;
		position: relative;
		width: 100%;
		padding: 0rem 0rem;
	}
	.card-effort{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 5rem;
		height: 7rem;
		box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
		-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
		transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		border-radius: 4px;
		cursor: pointer;
		background-color: #FFFFFF;
		margin-right: 0.4rem;
	}
	.right-filter-blc{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 0.5rem;
	}
	.flexer-corpus{
		display: flex;
		align-items: top;
		justify-content: space-between;
		margin-top: 1rem;
		min-height: 3rem;
	}
	.bcresult{
		display: block;
		position: relative;
		padding: 0.5rem;
		margin-top: 0.5rem;
		box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
		border-radius: 8px;
		min-height: 10rem;
		background-color: #FFFFFF;
		width: 100%;
		-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
		transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		cursor: pointer;
	}
	.flexer-fline-results h3{
		display: block;
		position: relative;
		font-family: basier-bold;
		color: #000000;
		font-size: 1rem;
	}
	.bcdate{
		display: block;
		position: relative;
		font-size: 0.9rem;
		margin-top: 0.5rem;
		color: #69AFEA;
	}
	.bclocation{
		display: flex;
		position: relative;
		align-items: center;
		font-size: 0.9rem;
		color: #A6A6A6;
	}
	.bclocation img{
		display: block;
		position: relative;
		padding: 0.5rem 0rem;
		margin-right: 0.5rem;
		height: 1rem;
		align-self: center;
	}
}
@media screen and (min-width:1000px) and (max-width: 1250px){
	.bcresult{
		display: block;
		position: relative;
		padding: 0.5rem;
		margin-top: 0.5rem;
		box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
		border-radius: 8px;
		min-height: 10rem;
		background-color: #FFFFFF;
		width: 100%;
		-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
		transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
		cursor: pointer;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1400px){
	.flexer-fline-results h3{
		display: block;
		position: relative;
		font-family: basier-bold;
		color: #000000;
		font-size: 1rem;
	}
}