@font-face {
  font-family: basier;
  src: url(../assets/fonts/basiercircle-regular.otf);
}
@font-face {
  font-family: basier-bold;
  src: url(../assets/fonts/BasierCircle-Bold.ttf);
}

*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}

/** COLORS **/
/* 
Green : #00B34B; 
Hard Grey: #1E1F1A ;
little grey: #A6A6A6;
blue: #69AFEA;
*/



body{
	min-height: 100vh;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: calc(100% - 2rem);
	height: 3rem;
	padding: 0.5rem 1rem;
	background-color: #FFFFFF;
	z-index: 2;
}
.logo{
	display: block;
	position: relative;
	height: 3rem;
	align-self: center;
	cursor: pointer;
}
.bloc_btn{
	display: flex;
	position: relative;
	width: 16rem;
	justify-content: space-between;
	align-items: center;
}
.bloc_btncenter{
	display: flex;
	position: absolute;
	width: 50%;
	top:1rem;
	left:25%;
	justify-content: center;
	align-items: center;
}
.gotoperso{
	display: block;
	position: relative;
	color: #A6A6A6;
	font-weight: 500;
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s ease;
	align-self: center;
}
.gotoperso:hover{
	background-color: #FFFFFF;
	color: #00B34B;
	border: 2px #FFFFFF solid;
}
.gotocompany{
	display: block;
	position: relative;
	border: none;
	color: #000000;
	font-weight: 500;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s ease;
	align-self: center;
}
.gotocompany:hover{
	background-color: #FFFFFF;
	color: #00B34B;
	border: 2px #FFFFFF solid;
}
.gotolog{
	display: block;
	position: relative;
	border: none;
	color: #A6A6A6;
	font-weight: 500;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s ease;
	align-self: center;
}
.gotolog:hover{
	background-color: #FFFFFF;
	color: #00B34B;
	border: 2px #FFFFFF solid;
}
.gotosign{
	display: block;
	position: relative;
	border: none;
	color: #00B34B;
	font-weight: 500;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s ease;
	align-self: center;
}
.gotosign:hover{
	background-color: #FFFFFF;
	color: #00B34B;
	border: 2px #FFFFFF solid;
}
.burger{
	display: none;
}
.burger div:not(.line2){
	display: block;
	position: relative;
	width: 30px;
	height: 4px;
	background-color: #000000;
	margin: 6px;
	border-radius: 2px;
	z-index: 50;
	transition: all 0.3s ease;
}
.line2{
	display: block;
	position: relative;
	width: 25px;
	height: 4px;
	border-radius: 2px;
	background-color: #000000;
	margin: 6px;
	margin-left: 11px;
	z-index: 50;
	transition: all 0.3s ease;
}
.nav-links{
	display: block;
	position: absolute;
	right: -5rem;
	padding: 2rem 3rem;
	top: 0;
	background-color: #000000;
	width: 20%;
	height: 100vh;
	z-index: 49;
	transform: translateX(100%);
	transition: all 0.5s ease-in;
}
.headernav{
	display: flex;
	align-items: center;
	height: 5rem;
	border-bottom: 2px #EFEFEF solid;
	margin-left: 3rem;
}
.gotopersonav{
	display: block;
	position: relative;
	color: #A6A6A6;
	font-weight: 500;
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s ease;
	align-self: center;
	outline: none;
}
.gotocompanynav{
	display: block;
	position: relative;
	border: none;
	color: #000000;
	font-weight: 500;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	background: transparent;
	cursor: pointer;
	transition: all 0.5s ease;
	align-self: center;
	outline: none;
}
.bloc_btncenternav{
	display: flex;
	position: relative;
	width: 80%;
	left:1rem;
	align-items: center;
}
.nav-link{
	display: flex;
	position: relative;
	align-items: center;
	margin-left: 7rem;
	height: 8vh;
}
.nav-links li{
	opacity: 0;
}
.nav-link a{
	font-family: basier;
	text-decoration: none;
	color: #000000;
	font-size: 1.2rem;
}
.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-6px,7.5px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-6px,-7.5px);
}
/* SECTION */
.topsection{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5rem 1rem;
	padding-top: 8rem;
}
.flex_topsection, .flex_thirdsection, .flex_thirdbissection{
	display: block;
	position: relative;
	width: 40%;
}
.flex_topsection h1{
	display: block;
	position: relative;
	font-size: 4rem;
	font-weight: 800;
	color: #000000;
	font-family: basier-bold;
}
.flex_topsection h2{
	display: block;
	position: relative;
	font-size: 1.5rem;
	color: #A6A6A6;
	font-weight: 400;
	font-family: basier;
	margin-top: 1rem;
}
.topsection img{
	width: 40%;
}
.secondsection{
	display: block;
	padding: 5rem 1rem;
	background-color: #F5F5F5;
}
.secondsection h3{
	display: block;
	position: relative;
	font-size: 2.5rem;
	font-weight: 800;
	color: #000000;
	font-family: basier;
	margin: auto;
	text-align: center;
}
.explain-second{
	display: block;
	position: relative;
	font-size: 1.2rem;
	font-weight: 800;
	color: #A6A6A6;
	font-family: basier;
	margin: auto;
	margin-top: 1rem;
	text-align: center;
}
.flex-img_second{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 3rem;
}
.flex-img_second img{
	width: 7rem;
}
.flex-img_second img:hover {
    animation-name: rotate; 
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.thirdbissection{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5rem 1rem;
	flex-direction: row-reverse;
}
.thirdsection{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5rem 1rem;
}
.flex_thirdsection h1, .flex_thirdbissection h1{
	display: block;
	position: relative;
	font-size: 2.5rem;
	font-weight: 800;
	color: #000000;
	font-family: basier;
}
.flex_thirdsection h2, .flex_thirdbissection h2{
	display: block;
	position: relative;
	font-size: 1.3rem;
	margin-top: 0.7rem;
	color: #A6A6A6;
	font-weight: 400;
	font-family: basier;
	transform: translateZ(-1px);
}
.thirdsection img{
	width: 35%;
	transform: translateZ(+2px);
}
.img_right{
	display: flex;
	position: relative;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 35%;
}
.nbrblock{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: 40%;
	padding: 1rem;
	height: 8rem;
	background: #69AFEA;
	margin-top: 2rem;
	border-radius: 8px;
	box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
}
.nbrblock img{
	display: block;
	position: relative;
	height: 2rem;
	align-self: center;
}
.nbrblock img:not(.imglogonb){
	width: 2rem;
}
.nbrval{
	color: #FFFFFF;
	font-size: 3rem;
	font-family: basier-bold;
	text-decoration: none;
}
.fourthsection{
	display: block;
	padding: 3rem 1rem;
	background-color: #F5F5F5;
}
.fourthsection h4{
	display: block;
	position: relative;
	font-size: 3rem;
	font-weight: 800;
	color: #000000;
	font-family: basier;
}
.flexer-fourth{
	display: flex;
	position: relative;
	justify-content: space-around;
	align-items: center;
	padding: 2rem 0rem;
}
.leftfourth, .rightfourth{
	display: block;
	position: relative;
	width: 40%;
}
.leftfourth{
	text-align: center;
	font-family: basier;
}
.leftfourth p{
	display: block;
	position: relative;
	width: 70%;
	margin: auto;
	margin-top: 1rem;
	color: #707070;
}
.leftfourth a{
	display: block;
	position: relative;
	margin: auto;
	margin-top: 1rem;
	color: #69AFEA;
	text-decoration: none;
}
.linefourth{
	display: flex;
	align-items: center;
	margin: 4rem 0rem;
}
.titlenbr{
	display: block;
	font-size: 4rem;
	color: #00B34B;
	font-family: basier-bold;
}
.explainstep{
	display: block;
	position: relative;
	margin-left: 1rem;
	font-size: 1.2rem;
	width: 70%;
	font-family: basier;
}
@-webkit-keyframes animat_showleft{
    0%{
    	opacity:0;
    	transform: translateX(200px);
    }
    100%{
    	opacity:1;
    	transform: translateX(0px);
    }
}
@-webkit-keyframes animat_opacity{
    0%{
    	opacity:0;
    }
    100%{
    	opacity:1;
    }
}
@-webkit-keyframes animat_showR{
    0%{
    	opacity:0;
    	transform: translateX(-200px);
    }
    100%{
    	opacity:1;
    	transform: translateX(0px);
    }
}
@-webkit-keyframes animat_showbotom{
    0%{
    	opacity:0;
    	transform: translateY(+50px);
    }
    100%{
    	opacity:1;
    	transform: translateY(0px);
    }
}
@-webkit-keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.Fader {
    -webkit-animation: animat_opacity 2s;
    animation: animat_opacity 2s;
    visibility: visible !important;
}
.fadeInL {
    -webkit-animation: animat_showleft 2s;
    animation: animat_showleft 2s;
    visibility: visible !important;
}
.fadeInR {
    -webkit-animation: animat_showR 2s;
    animation: animat_showR 2s;
    visibility: visible !important;
}
.fadeInB {
    -webkit-animation: animat_showbotom 2s;
    animation: animat_showbotom 2s;
    visibility: visible !important;
}
.fifthsection{
	display: block;
	padding: 3rem 1rem;
	background-color: #FFFFFF;
}
.fifthsection h3{
	display: block;
	position: relative;
	font-size: 2.5rem;
	font-weight: 800;
	color: #000000;
	font-family: basier;
	margin: auto;
	text-align: center;
}
.fifthsection p{
	display: block;
	position: relative;
	font-size: 1.1rem;
	color: #A6A6A6;
	font-family: basier;
	margin: auto;
	margin-top: 2rem;
	text-align: center;
}
#gosigning{
	display: flex;
	padding: 16px 0;
	border: 1px transparent;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background-color: transparent;
	background-image: -webkit-gradient(linear,left top,right top,from(#00B34B),to(#69AFEA));
	background-image: linear-gradient(290deg,#00B34B,#69AFEA);
	-webkit-transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease;
	transition: border-color .4s ease,transform .4s ease,box-shadow .4s ease,-webkit-transform .4s ease;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
	width: 20rem;
	margin-top: 2rem;
	margin-bottom: 4rem;
}
#gosigning:hover{
	box-shadow: 0 6px 12px -2px rgba(99,172,234,.6);
	-webkit-transform: translate(0,-3px);
	-ms-transform: translate(0,-3px);
	transform: translate(0,-3px);
}
@media screen and (max-width: 1000px){
	.logonav{
		display: block;
		position: relative;
		height: 2rem;
		align-self: center;
		cursor: pointer;
		margin-left: 0.5rem;
	}
	.burger{
		display: block;
	}
	.bloc_btncenter{
		display: none;
	}
	.bloc_btn{
		display: none;
	}
	.nav-links{
		display: block;
		position: absolute;
		right: 0rem;
		padding: 1rem 3rem;
		top: 0;
		background-color: #FFFFFF;
		color: #000000;
		width: 100%;
		height: 100vh;
		z-index: 49;
		transform: translateX(100%);
		transition: all 0.5s ease-in;
	}
	.nav-active{	
		transform: translateX(0%);
	}
	.topsection{
	 	display: block;
	}
	.flex_topsection, .flex_thirdsection, .flex_thirdbissection{
		display: block;
		position: relative;
		width: 90%;
	}
	.flex_topsection h1{
		font-size: 2rem;
		text-align: center;
	}
	.flex_topsection h2{
		font-size: 1.3rem;
		text-align: center;
	}
	.topsection img{
	 	display: block;
	 	position: relative;
	 	width: 96%;
	 	margin-top: 2rem;
	}
	.secondsection{
		display: block;
		position: relative;
		padding: 2rem 1rem;
	}
	.flex-img_second img{
		width: 5rem;
	}
	.thirdbissection{
		display: block;
		position: relative;
		padding: 2rem 1rem;
	}
	.thirdsection{
		display: block;
		position: relative;
		padding: 2rem 1rem;
	}
	.flex_thirdsection h1, .flex_thirdbissection h1{
		display: block;
		position: relative;
		width: 90%;
		font-size: 1.6rem;
	}
	.flex_thirdsection h2, .flex_thirdbissection h2{
		display: block;
		position: relative;
		width: 90%;
		font-size: 1.1rem;
	}
	.thirdsection img{
		width: 90%;
		margin: auto;
		margin-top: 2rem;
		transform: translateZ(+2px);
	}
	.img_right{
		display: flex;
		position: relative;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 90%;
		margin: auto;
	}
	.fourthsection h4{
		display: block;
		position: relative;
		font-size: 1.9rem;
		font-weight: 800;
		color: #000000;
		font-family: basier;
	}
	.flexer-fourth{
		display: block;
		padding: 2rem 0rem;
	}
	.leftfourth, .rightfourth{
		display: block;
		position: relative;
		width: 90%;
		margin: auto;
		margin-top: 3rem;
	}
	.linefourth{
		display: block;
		align-items: center;
		margin: auto;
		text-align: center;
	}
	.explainstep{
		display: block;
		position: relative;
		margin-left: 0rem;
		margin: auto;
		font-size: 1.2rem;
		width: 70%;
		font-family: basier;
	}
	.fifthsection h3{
		font-size: 2rem;
	}
	.flex-fifth{
		display: block;
		margin: 2rem 0rem;
	}
	.card{
		display: block;
		position: relative;
		width: 90%;
		min-height: 0rem;
		height: 8rem;
		border-radius: 8px;
		box-shadow: 0 6px 12px 0 rgba(48,54,77,.12);
		font-family: helvetica;
		padding: 1rem;
		margin: auto;
		margin-top: 1rem;
		visibility: visible;
		cursor: pointer;
	}
}