/* FOOTER */
footer{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	padding: 1rem 5rem;
	height: 20rem;
	background: url('../assets/img/bg_footer.png') no-repeat top right;
	background-size: 100%;
	font-family: basier;
}

.fline_footer{
	display: flex;
	position: relative;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.logo-footer{
	width: 6rem;
}
.language_change{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer svg{
	width: 1.7em;
}
.language_change p{
	padding-left: 1rem;
	color: #7F8A93;
}
.page-container{
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.page-container ul p:not(.active){
	color: #696969;
	margin-bottom: 1rem;
}
.pfootactive{
	color: #000000;
	margin-bottom: 1rem;
}
.page-container ul{
	width: 10rem;
	margin: 1rem;
}
.page-container ul li{
	margin-top: 0.8rem;
}
.page-container ul li a:not(.aactive){
	color: #A6A6A6;
	text-decoration: none;
}
.aactive{
	color: #7F8A93;
	text-decoration: none;
}
.page-container ul li a:hover{
	color: #7F8A93;
}
.bottom-footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
}
.flexer-bottom_footer{
	display: flex;
	align-items: center;
}
.bottom-footer a, .allrightreserved{
	color: #A6A6A6;
	font-size: 0.9rem;
	margin-right: 2rem;
	text-decoration: none;
	font-weight: 600;
}
.location{
	display: flex;
	align-items: center;
}
.location img{
	display: block;
	position: relative;
	margin-right: 1rem;
	align-self: center;
	width: 2rem;
}
.location p{
	font-size: 0.9rem;
}
@media screen and (max-width: 1000px) {
	footer{
		display: flex;
		position: relative;
		flex-wrap: wrap;
		padding: 1rem 2rem;
		height: 30rem;
		background: url('../assets/img/bg_footer.png') no-repeat bottom right;
		background-size: 100%;
		font-family: basier;
	}
	.flexer-bottom_footer{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		width: 98%;
		align-items: center;
	}
	.flexer-bottom_footer a{
		width: 45%;
		margin-top: 1rem;
}